.vscode/launch.json
.vscode/tasks.json
bin/Debug/net7.0/FighterFracasFray.deps.json
bin/Debug/net7.0/FighterFracasFray.dll
bin/Debug/net7.0/FighterFracasFray.exe
bin/Debug/net7.0/FighterFracasFray.pdb
bin/Debug/net7.0/FighterFracasFray.runtimeconfig.json
obj/FighterFracasFray.csproj.nuget.dgspec.json
obj/FighterFracasFray.csproj.nuget.g.props
obj/FighterFracasFray.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/FighterFracasFray.AssemblyInfo.cs
obj/Debug/net7.0/FighterFracasFray.AssemblyInfoInputs.cache
obj/Debug/net7.0/FighterFracasFray.assets.cache
obj/Debug/net7.0/FighterFracasFray.csproj.AssemblyReference.cache
obj/Debug/net7.0/FighterFracasFray.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/FighterFracasFray.csproj.FileListAbsolute.txt
obj/Debug/net7.0/FighterFracasFray.dll
obj/Debug/net7.0/FighterFracasFray.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/FighterFracasFray.genruntimeconfig.cache
obj/Debug/net7.0/FighterFracasFray.GlobalUsings.g.cs
obj/Debug/net7.0/FighterFracasFray.pdb
obj/Debug/net7.0/ref/FighterFracasFray.dll
obj/Debug/net7.0/refint/FighterFracasFray.dll
